@import '../scss/mixin.scss';

.modal {
  @include position(fixed);
  // 层级
  z-index: 10;
  transition: all .5s;

  .mask {
    @include position(fixed);
    background-color: #000000;
    // 设置透明度
    opacity: 0.5;
  }

  &.slide-enter-active {
    top: 0;
  }


  &.slide-leave-active {
    // 刚开始设置为看不见的状态
    top: -100%;
  }

  &.slide-enter {
    top: -100%;
  }

  .modal-dialog {
    // 设置弹框水平居中，使用位移的方式
    @include position(absolute, 40%, 50%, 660px, auto);
    background-color: #ffffff;
    // 控制位移
    transform: translate(-50%, -50%);

    .modal-header {
      height: 60px;
      background-color: #f5f5f5;
      // 上  下
      padding: 0 25px;
      line-height: 60px;
      font-size: 16px;

      // 图标
      .icon-close {
        @include positionImg(absolute, 23px, 25px, 14px, 14px, '../assets/imgs/icon-close.png');
        // 过渡动画
        transition: transform .3s;

        &:hover {
          transform: scale(1.5);
        }
      }
    }

    .modal-body {
      padding: 42px 40px 54px;
      font-size: 14px;
    }

    .modal-footer {
      height: 82px;
      line-height: 82px;
      text-align: center;
      background-color: #f5f5f5;
    }
  }
}